html {
  animation: pulse 20s infinite;
}

@keyframes pulse {
  0%,
  100% {
    background-color: #f56a3f;
  }
  50% {
    background-color: #9e42b0;
  }
}

body {
  font-family: "Pangolin", cursive;

  background-color: rgb(0, 27, 48);
  display: grid;
  margin: 5% 10% 5% 10%;
  padding-left: 20px;
  padding-right: 20px;
  grid-template-columns: 30% 20% 20% 30%;
  grid-template-rows: 20% 40% 20%;
}

header {
  font-family: "Press Start 2P", cursive;
  grid-column: 1/4;
  grid-row: 1;
}
h1 {
  font-size: 40px;
  color: greenyellow;
}

.tut {
  color: #eee;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  grid-row: 1;
  grid-column: 4;
  font-size: 20px;
  font-weight: bolder;
}

.Controls {
  grid-row: 2;
  grid-column: 2/4;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 16.6% 16.6% 16.6% 16.6% 16.6% auto;
}

.Side2,
.Side1 {
  font-family: "Teko", sans-serif;
  display: flex;
  justify-content: space-around;
  font-size: 26px;
  font-weight: bold;
  color: aliceblue;
}

.Side1 {
  grid-column: 1;
}
.Side2 {
  grid-column: 2;
}

main {
  grid-row: 3;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 5% 95%;
  grid-template-rows: 16.6% 16.6% 16.6% 16.6% 16.6% auto;
  color: aliceblue;
  font-size: 25px;
}

.Players {
  grid-row: 1;
  grid-column: 2;
}

.Name {
  font-family: "Press Start 2P", cursive;
  font-style: italic;
  display: inline-block;
  cursor: pointer;
  padding: 10px 15px;
  background-color: inherit;
  font-size: 22px;
  border: none;
}

.gif {
  width: 100%;
  grid-column: 4;
  grid-row: 2/4;

  justify-self: center;
  align-self: center;
}

.button {
  font-family: "Teko", sans-serif;
  font-weight: bolder;
  color: #ccc;
  grid-column: 2/4;
  grid-row: 3;

  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6%;
}

.B1,
.B2 {
  justify-self: center;
  align-self: center;
  font-weight: 700;

  font-size: larger;
}

footer {
  display: flex;
  justify-content: space-evenly;
  grid-row: 4;
  grid-column: 1/5;
}

.Start {
  font-family: "Teko", sans-serif;

  align-self: center;

  font-size: 70px;

  color: #fff;
  display: inline-block;
  cursor: pointer;
  padding: 10px 15px;
  background-color: inherit;
  border: none;
}

.Option {
  display: flex;
  align-items: center;
  color: #ccc;
}

.Name:hover {
  background: #eee;
  padding: 10px;
}

.Start:hover {
  color: greenyellow;
}
